<!DOCTYPE html>
<html>
<head>
	<title> GUI Paratracking</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.deep_orange-blue.min.css"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

	<!-- MY CSS AND JS -->
	<link rel="stylesheet" href="/gui.css">

</head>

<!--  -->
<body>
	<main class="mdl-layout__content">
		<div class="mdl-grid">
			<div class="mini_card mdl-card mdl-cell mdl-shadow--4dp" style="text-align: center">
				<div class="mdl-card__supporting-text">
					<h2 class="mdl-color-text--blue">Paratracking </h2>
					<br><br>
					<a style="text-decoration: none; font-size: 150%"href="/del" title="Delegation page"> > Delegation Page</a>
					<br><br>
					<a style="text-decoration: none; font-size: 150%"href="/emp" title="Employee page"> > Employee Page</a>
					<br><br>
					<a style="text-decoration: none; font-size: 150%"href="/sup" title="Supervisor page"> > Supervisor Page</a>
				</div>
				<div class="mdl-layout-spacer"></div>
			</div>
		</div>
	</main>
</body>
</html>
