html, body {
	background-color: #9E9E9E; !important
	font-family: 'Roboto', 'Helvetica';
}

.title {
	overflow: hidden;
	font-family: 'Roboto', 'Helvetica';
	margin: 18px;
	width: 400px; 
}

.title h2, .title label {
	margin: 20px;
}

.mini_card {
	min-width: 400px;
	max-width: 400px;
}

.card_container {
	
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
